        /*  CSS Style Sheet for my profile page */
        
        header {
            height: 200px;
        }
        
        body {
            background-color: #4cc9f0;
        }
        
        ul {
            list-style: none;
        }
        
        a:link {
            text-decoration: none;
            color: black;
        }
        
        header {
            height: 200px;
            width: 1600px;
            font-family: cursive;
            font-weight: 20px;
            text-align: center;
        }
        
        #buttonHTML {
            color: #4361ee;
            position: fixed;
            top: 200px;
            left: 200px;
            background-color: #f72585;
            font-size: 2em;
            width: 200px;
            height: 100px;
            border: 2px solid #4361ee;
            padding: 10px 10px 10px 10px;
            margin: 20px 20px 20px 20px;
            border-radius: 20px;
        }
        
        #buttonCSS {
            position: fixed;
            top: 200px;
            left: 540px;
            font-size: 2em;
            width: 200px;
            height: 100px;
            border: 2px solid #4361ee;
            margin: 20px 20px 20px 20px;
            padding: 10px 10px 10px 10px;
            border-radius: 20px;
            background-color: #f72585;
        }
        
        #buttonJavascript {
            position: fixed;
            top: 200px;
            left: 850px;
            background-color: #f72585;
            font-size: 2em;
            width: 200px;
            height: 100px;
            border: 2px solid #4361ee;
            padding: 10px 10px 10px 10px;
            margin: 20px 20px 20px 20px;
            border-radius: 20px;
        }